# =========================
# Django Settings
# =========================
SECRET_KEY=django-insecure-j(_x+!u41u9v4!m83cm0!vr0*3^78g6jrw)s*f(d6c**@g4uob

# =========================
# PostgreSQL Database
# =========================
PGDATABASE=mahakaal_cafe
PGUSER=postgres
PGPASSWORD=postgres
PGHOST=localhost
PGPORT=5432
