#date{
    font-style: italic;
    color:rgb(170, 170, 152);
}

a{
    color:cornflowerblue;
}
a:link {
    text-decoration: none;
  }

a:hover {
    color:rgb(89, 89, 240); 
}
#commentator_name{
    color:#84a3ff;
    font-size: 23px;
    

}
#cmt_dnt{
    color:darkgoldenrod;
}
.cb{
    margin-left: 0px;
}
