{% extends 'base.html' %}
{% block title %}login{% endblock title %}
{% block loginPage %}active{% endblock loginPage %}

{% block body %}
<br/><br/><br/>
<div class='container'>
  <h1 class="mb-4"><center>CREATE ACCOUNT</h1>
  <form class="row g-2 mt-3"  method="post" action="login">
  {% csrf_token %}
      <div class="col-md-6">
        <label for="user_name" class="form-label">Username</label>
        <input type="text" id='user_name' name="user_name" class="form-control" aria-label="user_name">
      </div>
    
      <div class="col-md-6">
        <label for="phone" class="form-label">Phone</label>
        <input type="text" id='phone' name="phone" class="form-control" aria-label="phone">
      </div>
    
    <div class="col-md-12">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" name="email" class="form-control" id="email" >
    </div>
    <div class="col-md-12">
      <label for="inputPassword4" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" id="password" name="password">
    </div>
    <div class="col-12 mt-4">
      <button type="submit" class="btn btn-primary">Sign up</button>
    </div>
  </form>
</div>
  
  {% endblock body %}