{% extends 'base.html' %}
{% load site_tags %}
{% block title %}Tranding{% endblock title %}
{% block trandingPage %}active{% endblock trandingPage %}
{% block body %}

<div class="container-fluid mx-0">
  <br/>
  <br/>
  <br/>   
<!-- products -->

<div class="container-fluid p-2">
  <h1 class="p-2 ml-5 display-2 text-muted text-center">Trending Today</h1><br/>
  <p class="ml-5 mr-3 pt-2">{% current_time "%Y-%m-%d %I:%M %p" as the_time %}
    <p>The time is {{ the_time }}.</p>
    

</p><br>


<div class"container-fluid">
  <div class="row row-cols-12 row-cols-sm-12 row-cols-md-12 py-2 my-2">
    
    <!-- {% for book in most_reviewed %} -->
    <div class="col">
      <div class="card bg-dark text-light shadow-lg rounded m-1 " style="width: 12rem;">
        <img src="#" class="card-img-top img-responsive" style="width:100%;height:290px;" alt="...">
        <div class="card-body">
          <p class="card-text text-truncate">book.book_name</p>
          <h5 class="card-text "><strong>₹100/-</strong></h5>
          <a href="#" class="btn btn-success container my-2">Buy Now</a>
        </div>
      </div>
    </div>
    <!-- {% endfor %} -->
  
  </div>
</div>



{% endblock body %}